name: CI

on:
  push:
    branches:
      - "*"
      - "*/*"
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build executables
        run: |
          CURRENT_SECS=$(date +%s)
          echo "int main() { return $CURRENT_SECS; }" > main.c
          gcc main.c -o main

          ((CURRENT_SECS++))
          echo "int main() { return $CURRENT_SECS; }" > main.c
          mkdir multi1
          gcc main.c -o multi1/main

          ((CURRENT_SECS++))
          echo "int main() { return $CURRENT_SECS; }" > main.c
          mkdir multi2
          gcc main.c -o multi2/main

          ((CURRENT_SECS++))
          echo "int main() { return $CURRENT_SECS; }" > main.c
          mkdir multi3
          gcc main.c -o "multi3/main with space"

      - name: Sign the executable
        uses: ./
        with:
          certificate: ${{ secrets.MACOS_CERTIFICATE }}
          certificate-password: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          username: ${{ secrets.AC_USERNAME }}
          password: ${{ secrets.AC_PASSWORD }}
          apple-team-id: ${{ vars.MACOS_TEAM_ID }}
          app-path: main

      - name: Check signature
        run: |
          codesign -dvvv main

      - name: Sign several executables
        uses: ./
        with:
          certificate: ${{ secrets.MACOS_CERTIFICATE }}
          certificate-password: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          username: ${{ secrets.AC_USERNAME }}
          password: ${{ secrets.AC_PASSWORD }}
          apple-team-id: ${{ vars.MACOS_TEAM_ID }}
          app-path: |
            multi1/main
            multi2/main
            multi3/main with space

      - name: Check signatures
        run: |
          codesign -dvvv multi1/main
          codesign -dvvv multi2/main
          codesign -dvvv "multi3/main with space"
